<% if @contact.present? %>
    <%= image_tag @contact.photo.url(:small) %>

<p>
  <strong>Name:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @contact.address %>
</p>

<p>
  <strong>mobile:</strong>
  <%= @contact.mobile %>
</p>
<p>
  <strong>email:</strong>
  <%= @contact.email %>
</p>
    <p>
      <strong>type_id:</strong>
      <%= @contact.type_id %>
    </p>



    <%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path  %>
<% else %>
nothing found
<% end %>